@charset "IBM437";
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

html, body {
  width: 100%;
  height: 100%;
  position: relative; }

body {
  color: #0e0d16;
  font-family: "american typewriter", "Courier New", monospace;
  background: #5cc353; }

.container {
  width: 100%;
  height: 100%;
  position: absolute; }

.container.is-hidden {
  top: -100%; }

.title-container {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0; }

.logo {
  font-family: "jubilat", sans-serif;
  font-weight: 500;
  font-size: 36px; }

.signin-button {
  color: #dafad6;
  font-size: 16px;
  margin-top: 8px; }

.verify-container, .friends-container, .claim-container, .total-container, .confirmation-container {
  background-color: white;
  color: #0e0d16; }
  .verify-container > :first-child, .friends-container > :first-child, .claim-container > :first-child, .total-container > :first-child, .confirmation-container > :first-child {
    padding-top: 16px; }
  .verify-container > :last-child, .friends-container > :last-child, .claim-container > :last-child, .total-container > :last-child, .confirmation-container > :last-child {
    padding-bottom: 16px; }
  .verify-container > div, .friends-container > div, .claim-container > div, .total-container > div, .confirmation-container > div {
    padding-left: 16px;
    padding-right: 16px; }

.receipt-title {
  font-family: "jubilat", sans-serif;
  font-size: 28px;
  margin-bottom: 8px; }

.receipt-item {
  line-height: 1.5; }
  .receipt-item .item-name {
    width: 200px;
    float: left; }
  .receipt-item .item-cost {
    float: right;
    width: 80px;
    text-align: right; }
  .receipt-item.total {
    background-color: #ddd; }

.receipt-action {
  font-family: "jubilat", sans-serif;
  font-size: 20px;
  margin-top: 8px;
  text-align: right;
  color: #5cc353; }

.receipt-action:after {
  content: "→"; }
