$title-type: "jubilat", sans-serif;
$body-type: "american typewriter", "Courier New", monospace;


$primary-color: #5CC353;
$accent-color: #DAFAD6;

$text-color: #0E0D16;
$secondary-text-color: $primary-color ;

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

html, body, .content-container {
	width: 100%;
	height: 100%;
	position: relative;
}

body {
	color: $text-color;
	font-family: $body-type;
	background: $primary-color;
}

.container{ 
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}

.container.is-hidden {
	top: -100%;
}


.signin-container {
	text-align: center;
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
}

.logo {
	font-family: $title-type;
	font-weight: 500;
	font-size: 36px;
}

.signin-button {
	color: $accent-color;
	font-size: 16px;
	margin-top: 8px;
	text-decoration: none;
}

.picture-submit {
	display: block;
	color: $text-color;
	text-decoration: none;
}

.verify-container, .friends-container, .claim-container, .total-container, .confirmation-container {
	background-color: white;
	color: $text-color;

	> :first-child {
		padding-top: 16px;
	}
	> :last-child {
		padding-bottom: 16px;
	}

	> div {
		padding-left: 16px;
		padding-right: 16px;
	}

}

.receipt-title {
	font-family: $title-type;
	font-size: 28px;
	margin-bottom: 8px;
}

.receipt-item {
	line-height: 1.5;
	.item-name {
		width: 200px;
		float: left;
	}
	.item-cost {
		float: right;
		width: 80px;
		text-align: right;
	}

	&.total {
		background-color: #ddd;
	}
}

.receipt-action {
	font-family: $title-type;
	font-size: 20px;
	margin-top: 8px;
	text-align:right;
	color: $secondary-text-color;
	text-decoration: none;
	display: block;
}

.receipt-action:after {
	content: "→";
}

.friend {
	margin-bottom: 4px;
}

.friend-photo {
	width: 30px;
	height: 30px;
	margin-right: 8px;
	float: left;
}

.friend-photo > img {
	width: 30px;
	vertical-align: middle;
}

.friend-name {
	line-height: 2;
	width: 232px;
	float: left;
}

.friend-selected {
	width: 19px;
	height: 19px;
	font-size: 19px;
	float: left;
	text-align:center;
	border: 1px solid $text-color;

	margin-left: 8px;
	margin-top: 4px;
}

.is-selected .friend-selected:before {
	content:"x";
	line-height: 0.9;
}