<!DOCTYPE>
<html>
<head>
	<title>Check Me Out!</title>

	<!-- homescreen icon -->
	<link rel="apple-touch-icon" href="img/icon.png"/>

	<!-- splash screen -->
	<link rel="apple-touch-startup-image" href="img/splash.png" /> 

	<!-- allows app to be a web app -->
	<meta name="apple-mobile-web-app-capable" content="yes" /> 

	<!-- styles the notif. bar -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />  	

	<!-- stops people from zooming -->
	<meta name="viewport" content = "width = device-width, initial-scale = 2.3, user-scalable = no" />  

	<!-- Typekit embed code -->
	<script type="text/javascript" src="//use.typekit.net/dpy8sot.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<!-- css -->

	<link rel="stylesheet" type="text/css" href="static/css/style.css">

	<!-- lib -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

</head>
<body>
	<div class="signin-container">

		<div class="logo">
			Check Me Out
		</div>

		<div class="signin-form-container">
			<div class="signin-submit stage-submit">
				Sign in
			</div>
		</div>


		<div class="picture-container">
			<div class="picture-label">
				Take a Picture of the Reciept
			</div>
			<form action="/upload" method="post">
				<input type="file" accept="image/*" capture="camera"	>
				<input type="submit">
				<div class="signin-submit stage-submit">
					Submit picture
				</div>
			</form>
		</div>

		<div class="verify-container">
			<div class="receipt-title">
				Verify
			</div>
			<div class="receipt-item">
				<div class="item-name">
					CALAMARI W/ MOJO
				</div>
				<div class="item-cost">
					$16.00
				</div>
			</div>
			<div class="receipt-item">
				<div class="item-name">
					VEGGIE SAND
				</div>
				<div class="item-cost">
					$8.00
				</div>
			</div>
			<div class="receipt-meta">
				<div class="meta-title">
					Total
				</div>
				<div class="meta-value">
					$133.70
				</div>
			</div>
			<div class="receipt-meta">
				<div class="meta-title">
					Tip
				</div>
				<div class="meta-value">
					20%
				</div>
			</div>

			<div class="receipt-action">
				Select Friends
			</div>
		</div>

		<div class="friends-container">
			<div class="friends-title">
				Select Venmo Friends
			</div>
			<div class="friend">
				<div class="friend-photo">
				</div>
				<div class="friend-name">
					Grace Hopper
				</div>
				<div class="friend-selected">
				</div>
			</div>
			<div class="friend">
				<div class="friend-photo">
				</div>
				<div class="friend-name">
					Peter Norvig
				</div>
				<div class="friend-selected">
				</div>
			</div>

			<div class="friends-action">
				Start Splitting
			</div>
		</div>

		<div class="claim-container">
			<div class="receipt-title">
				Select your order
			</div>
			<div class="receipt-subtitle">
				Grace Hopper
			</div>

			<div class="receipt-item">
				<div class="item-name">
					CALAMARI W/ MOJO
				</div>
				<div class="item-cost">
					$16.00
				</div>
			</div>
			<div class="receipt-item">
				<div class="item-name">
					VEGGIE SAND
				</div>
				<div class="item-cost">
					$8.00
				</div>
			</div>
			<div class="receipt-meta">
				<div class="meta-title">
					Total
				</div>
				<div class="meta-value">
					$133.70
				</div>
			</div>

			<div class="receipt-action">
				Finish and Pass
			</div>
		</div>

		<div class="total-container">
			<div class="receipt-meta">
				<div class="meta-title">
					Total
				</div>
				<div class="meta-value">
					$133.70
				</div>
			</div>

			<div class="receipt-meta">
				<div class="meta-title">
					Grace Hopper
				</div>
				<div class="meta-value">
					$25.70
				</div>
			</div>

			<div class="receipt-meta">
				<div class="meta-title">
					Peter Norvig
				</div>
				<div class="meta-value">
					$25.00
				</div>
			</div>


			<div class="receipt-meta">
				<div class="meta-title">
					Balance Remaining 
				</div>
				<div class="meta-value">
					$108.00
				</div>
			</div>

			<div class="receipt-action">
				Finish and Charge
			</div>
		</div>

		<div class="confirmation-container">
			<div class="confirmation-label">
				Charges Sent
			</div>
		</div>


	</div>


	<!-- templates -->

	<!-- js -->
	<script type="text/javascript" rel="static/js/app.js"></script>
</body>
</html>