<!DOCTYPE>
<html>
<head>
  <title>Check Me Out!</title>

  <!-- homescreen icon -->
  <link rel="apple-touch-icon" href="img/icon.png"/>

  <!-- splash screen -->
  <link rel="apple-touch-startup-image" href="img/splash.png" />

  <!-- allows app to be a web app -->
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <!-- styles the notif. bar -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <!-- stops people from zooming -->
  <meta name="viewport" content = "width = device-width, initial-scale = 1, user-scalable = no" />  

  <!-- Typekit embed code -->
  <script type="text/javascript" src="//use.typekit.net/dpy8sot.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- css -->

  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css">

  <link rel="stylesheet" type="text/css" href="static/css/style.css">

  <!-- lib -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
</head>
<body>
    <div class="title-container container" id="signin">
      <div class="signin-container">
        <div class="logo">
          &cent;heck me out
        </div>
        <a href="#" class="signin-button">
          -&thinsp;$ign in with Venmo&thinsp;-
        </a>
        </div>
      </div>



    <div class="picture-container container is-hidden" id="picture">
      <div class="picture-label">
        Take a Picture of the Reciept
      </div>
      <form id="image-upload" enctype=multipart/form-data>
        <input name="receipt" type="file" accept="image/*" capture="camera">
        <a class="picture-submit stage-submit" href="#">
          Submit picture
        </a>
      </form>
    </div>

    <div class="verify-container container is-hidden" id="verify">
    </div>


    <div class="friends-container container  is-hidden" id="friends">
    </div>


    <div class="claim-container container is-hidden" id="claim">
    </div>



    <div class="total-container container is-hidden" id="total">
    </div>

    <div class="confirmation-container container is-hidden" id="confirm">
      <div class="confirmation-label">
        Charges Sent
      </div>
      <div class="confirmation-label">
        start again
      </div>
    </div>
  </div>



  <!-- templates -->


  <!--  Template for verifying the scan of the receipt

        should be placed inside a div with the class
        verify-container"

        takes an object with two keys,

        "items" -- a list of item objects
            each item object contains a "name" and a "cost", cost is formatted as a string like '$15.34'.

        "total" the total balance remaining on the tab
    -->
  <script type="text/template" id="template-verify">
    <div class="receipt-title">
      Verify
    </div>
    <% for (var i = 0; i < items.length; i++) { %>
      <% var item = items[i]; %>
      <div class="receipt-item cf">
        <div class="item-name">
          <%= item.name %>
        </div>
        <div class="item-cost">
          <%= item.price %>
        </div>
      </div>
    <% } %>
    <div class="receipt-item total cf">
      <div class="item-name">
        Total
      </div>
      <div class="item-cost">
        <%= total %>
      </div>
    </div>

    <a class="receipt-action" href="#">
      Select Friends
    </a>
  </script>



  <!--  the template for the venmo friends selection
        screen

        should be placed in a div with the class
        "friends-container"

        Takes an object with a key "venmoFriends"
        that leads to an array of friend objects
        each with a key for the "url" of a photo,
        their formatted "name", and a boolean "selected"
    -->
  <script type="text/template" id="template-venmo-friends">
    <div class="receipt-title"> ".id"
      Select Venmo Friends
    </div>
    <% for (var i = 0; i < venmoFriends.length; i++) { %>

      <% var venmoFriend = venmoFriends[i] %>
      <div class="friend cf" data-user-id="<%= venmoFriend.id %>">
        <div class="friend-photo">
          <img src="<%= venmoFriend.profile_picture_url %>">
        </div>
        <div class="friend-name">
          <%= venmoFriend.display_name %>
        </div>
        <div class="friend-selected <% if(venmoFriend.selected) print('is-selected') %> ">
        </div>
      </div>

    <% } %>

    <a class="receipt-action" href="#">
      Start Splitting
    </a>
  </script>

  <!--  Template for claiming items on the receipt

        should be placed inside a div with the class
        "claim-container"

        takes an object with three keys,

        "currentUser" -- the name of the person currently making the claim.

        "items" -- a list of item objects
            each item object contains a "name" and a "cost", cost is formatted as a string like '$15.34'.

        "total" the total balance remaining on the tab
    -->
  <script type="text/template" id="template-claim">
    <div class="receipt-title">
      Select your order
    </div>
    <div class="receipt-subtitle">
      <%= currentUser %>
    </div>
    <% for (var i = 0; i < items.length; i++) { %>
      <% var item = items[i]; %>
      <div class="receipt-item cf">
        <div class="item-name">
          <%= item.name %>
        </div>
        <div class="item-cost">
          <%= item.price %>
        </div>
      </div>
    <% }; %>
    <div class="receipt-item total cf">
      <div class="item-name">
        Total
      </div>
      <div class="item-cost">
        <%= total %>
      </div>
    </div>

    <a class="receipt-action" href="#">
      Finish and Pass
    </a>
  </script>


  <!--  Template for displaying the total amounts claimed by each
        person

        should be placed inside a div with the class
        "total-container"

        takes an object with three keys,

        "originalTotal" -- the total cost of the bill

        "claimTotals" -- a list of claim objects
            each claim object contains a "name" and a "cost", cost is formatted as a string like '$15.34'.

        "remainingTotal" the total balance remaining on the tab
    -->
  <script type="text/template" id="template-total">
    <div class="receipt-item cf">
      <div class="item-name">
        Total
      </div>
      <div class="item-cost">
        <%= total %>
      </div>
    </div>

    <% for (var i = 0; i < claimTotals.length; i++) { %>
      <% var claim = claimTotals[i]; %>
      <div class="receipt-item cf">
        <div class="item-name">
          <%= claim.name %>
        </div>
        <div class="item-cost">
          <%= claim.price %>
        </div>
      </div>
    <% }; %>

    <div class="receipt-item cf">
      <div class="item-name">
        Balance Remaining 
      </div>
      <div class="item-cost">
        <%= remainingTotal %>
      </div>
    </div>

    <a class="receipt-action" href="#">
      Finish and Charge
    </a>
  </script>

  <!-- js -->
  <script src="static/js/venmo.js"></script>
  <script src="static/js/app.js"></script>
</body>
</html>
