<!DOCTYPE>
<html>
<head>
	<title>Check Me Out!</title>

	<!-- homescreen icon -->
	<link rel="apple-touch-icon" href="img/icon.png"/>

	<!-- splash screen -->
	<link rel="apple-touch-startup-image" href="img/splash.png" /> 

	<!-- allows app to be a web app -->
	<meta name="apple-mobile-web-app-capable" content="yes" /> 

	<!-- styles the notif. bar -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />  	

	<!-- stops people from zooming -->
	<meta name="viewport" content = "width = device-width, initial-scale = 2.3, user-scalable = no" />  

	<!-- Typekit embed code -->
	<script type="text/javascript" src="//use.typekit.net/dpy8sot.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<!-- css -->

	<link rel="stylesheet" type="text/css" href="static/css/style.css">

	<!-- lib -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

</head>
<body>
	<div class="content-container"></div>


	<!-- templates -->

	<!-- js -->
	<script type="text/javascript" rel="static/js/app.js"></script>
</body>
</html>